* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #dbdbd2 75%, #009688 74%);
}

/*section*/
#root {
    width: 70%;
    height: 95%;
    min-width: 950px;    
    background-color: coral;
    display: flex;
}

#aside {
    width: 35%;
    height: 100%;
    background-color: aquamarine;
}

#main {
    width: 65%;
    height: 100%;
    background-color: blueviolet;
}
/*all*/
h2 {
    font-size: 16px;
}

img {
    width: 100%;
    display: block;
}

.flex {
    display: flex;
    align-items: center;
}
/*typo*/

/*aside*/
.info {
    padding: 8px;
    background-color: #EAEAEA;
}

.container {
    width: 11%;
    border-radius: 100%;
    overflow: hidden;
}

.name {
    padding: 0 8px;
}

.icone_azione {
    margin: 0 10px 0 auto;
}

.icone_azione__icone {
    margin: 0 7px;
    color: #B1B1B1;
    font-size: 18px;
    cursor: pointer;
}
